{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
  <h1>Login</h1>
  {% if form.errors %}
    <p>Provided credentials are incorrect. Try again.</p>
  {% else %}
    <p>Enter your credentials:</p>
  {% endif %}
  <div class="login-form">
    <form action="{% url 'login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="text" value="{{ next}}" />
      <p><input type="submit" value="Login"></p>
    </form>
  </div>
{% endblock %}
